:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .x-large {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.8rem;
  }
  .large {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .lead {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 0.5rem;
}

.btn-instructions {
  color: var(--primary-color);
  cursor: pointer;
}

.btn-dashboard {
  font-size: 1.5rem;
  font-weight: 700;
  width: 80%;
  max-width: 600px;
  margin: 1rem 0;
}

@media (max-width: 360px) {
  .btn-dashboard {
    font-size: 1.2rem;
  }
}

.btn-settings-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-settings {
  font-size: 1.5rem;
  font-weight: 700;
  width: 80%;
  max-width: 600px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .btn-settings {
    font-size: 1.2rem;
    width: 100%;
  }
}

.btn-landing {
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  max-width: 600px;
  margin: 1rem 0;
}

.btn-block {
  font: inherit;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.btn-add-game {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0.4rem;
  font-size: 1.2rem;
}

.buttons {
  display: inline;
  margin: 1rem auto;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  position: absolute;
  top: 4rem;
  width: 80vw;
  left: 10%;
  padding: 0.8rem;
  background: var(--light-color);
  color: #333;
  border-radius: 0.5rem;
  z-index: 1;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.navbar {
  background-color: var(--dark-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  border-top: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.navbar ul li {
  list-style: none;
}

.nav-item {
  color: var(--light-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 6rem;
}
@media (max-width: 640px) {
  .nav-item {
    font-size: 0.6rem;
    width: 5rem;
  }
}

@media (max-width: 520px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
  .nav-item {
    font-size: 0.6rem;
    width: 3.9rem;
  }
  .navbar ul li {
    padding: 0 0.1rem;
    list-style: none;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
  .nav-item {
    font-size: 0.6rem;
    width: 3.7rem;
  }
  .navbar ul li {
    padding: 0 0.1rem;
    list-style: none;
  }
}

@media (max-width: 380px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
  .nav-item {
    font-size: 0.5rem;
    width: 3rem;
  }
  .navbar ul li {
    padding: 0 0.1rem;
    list-style: none;
  }
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

.margin-1 {
  margin: 1rem;
}

.margin-y-1 {
  margin: 1rem 0;
}

.margin-x-1 {
  margin: 0 1rem;
}

.margin-l-1 {
  margin-left: 1rem;
}

.margin-r-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
.mb-6 {
  margin-bottom: 6rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark-overlay-intructions {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-inner {
  color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing {
  background: url('./img/landing.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 300px;
}

.login {
  width: 40vw;
}

.login-inner {
  color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link a {
  color: var(--light-color);
}

@media (max-width: 810px) {
  .landing-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logo {
    width: 200px;
  }

  .landing-large {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .login {
    width: 80vw;
  }
}

@media (max-width: 410px) {
  .landing-large {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 350px) {
  .logo {
    width: 120px;
  }
  .login {
    margin: 0;
  }
}

.instructions {
  background: url('./img/landing.jpg') no-repeat center center/cover;
  height: 100vh;
}

.instructions-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.instructions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions-text {
  text-align: justify;
  margin: 1rem;
}
.instructions-header {
  text-align: center;
  margin: 1rem;
}

.img-instructions {
  width: 40vw;
  padding: 2rem;
}

@media (max-width: 1100px) {
  .img-instructions {
    width: 60vw;
  }
}
@media (max-width: 800px) {
  .img-instructions {
    width: 70vw;
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .img-instructions {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .img-instructions {
    width: 90vw;
  }
}

.dashboard {
  background: url('./img/dashboard.jpg') no-repeat center center/cover;
  height: 100vh;
}

.players {
  background: url('./img/players.jpg') no-repeat center center/cover;
  height: 100%;
}

.players-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.player {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  background-color: #fff;
  opacity: 0.9;
  color: #333;
}

@media (max-width: 520px) {
  .player-name {
    font-size: 1.2rem;
  }
  .btn-delete-player {
    padding: 0.5rem;
  }
  .trash {
    height: 1rem;
  }
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.games {
  background: url('./img/games.jpg') no-repeat center center/cover;
  height: 100%;
}

.games-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.games-box {
  border-radius: 0.5rem;
  background-color: #fff;
  opacity: 0.8;
}

.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 80vw;
  max-width: 600px;
  background-color: #c0c0c0;
  opacity: 0.8;
  color: #333;
}

.game {
  background: url('./img/games.jpg') no-repeat center center/cover;
  height: 100%;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  margin: 5rem auto;
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  background-color: #fff;
  opacity: 0.8;
  color: #333;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media (max-width: 550px) {
  .game-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .game-buttons {
    margin-top: 1rem;
  }
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form input[type='submit'],
button {
  font: inherit;
}

@media (max-width: 350px) {
  .form .form-group {
    margin: 1rem 0;
  }

  .form .form-text {
    display: block;
    margin-top: 0.2rem;
    color: #888;
  }

  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form input[type='number'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
}
